h1.title {
    color: #1ca7c0;
}

input {
    border-color: #1ca7c0;
    border-radius: 0.5rem;
}

ul {
    padding: 0;
    margin: 0.7rem 0;
}

li {
    cursor: pointer;
    list-style-position: inside;
    padding: 0.7rem 2.2rem;
    list-style-image: url("unchecked_16.png");
}

li:nth-child(odd) {
    background-color: #9bc5cc;
}

li:nth-child(even) {
    background-color: #94d8dc;
}

li.checked {
    background-color: #e2e2e2;
    list-style-image: url("checked_16.png");
    text-decoration:line-through;
}

li > span.cross {
    position: absolute;
    color: red;
    border: 1px solid red;
    border-radius: 30%;
    margin: 0 1rem;
    padding: 0.2rem;
}